[DEFAULT]
api_config = "staging"
storage_config = "staging-azure"
verbose = true

[trigger]
poll_period = 3600
startup_delay = 3
timeout = 60

[tarball]
kdir = "/home/kernelci/data/src/linux"
output = "/home/kernelci/data/output"

[scheduler]
output = "/home/kernelci/data/output"
runtime_config = "k8s-gke-eu-west4"

[monitor]

[send_kcidb]
kcidb_topic_name = "playground_kcidb_new"
kcidb_project_id = "kernelci-production"
origin = "kernelci_api"

[test_report]
smtp_host = "smtp.gmail.com"
smtp_port =  465
email_sender = "bot@kernelci.org"
email_recipient = "kernelci-results-staging@groups.io"

[timeout]

[regression_tracker]

[storage.staging]
storage_cred = "/home/kernelci/data/ssh/id_rsa_tarball"

[storage.staging-azure]
storage_cred = ""

[storage.early-access-azure]
storage_cred = ""

[runtime.lava-collabora]
runtime_token = ""

[runtime.lava-collabora-early-access]
runtime_token = ""
