{# -*- mode: Python -*- -#}
{# SPDX-License-Identifier: LGPL-2.1-or-later -#}

{{ root.revision.tree }}/{{ root.revision.branch }} {{ '(Unknown)' if root.revision.describe is none else root.revision.describe}}: {{ total_runs }} runs, {{ total_failures}} failures

{{'%-15s %s %s'|format("test", "|", "result")}}
{{'%s%s%s'|format("-"*16, "+", "-"*7)}}
{%- for test in tests %}
{{'%-15s %s %s'|format(test.name, "|", test.status)}}
{%- endfor %}

  Tree:     {{ root.revision.tree }}
  Branch:   {{ root.revision.branch }}
  Describe: {{ '(Unknown)' if root.revision.describe is none else root.revision.describe}}
  URL:      {{ root.revision.url }}
  SHA1:     {{ root.revision.commit }}
