{# SPDX-License-Identifier: LGPL-2.1-or-later -#}

{{ subject }}

Summary
=======

Tree:     {{ root.data.kernel_revision.tree }}
Branch:   {{ root.data.kernel_revision.branch }}
Describe: {{ root.data.kernel_revision.describe }}
URL:      {{ root.data.kernel_revision.url }}
SHA1:     {{ root.data.kernel_revision.commit }}

{%- if jobs.items() %}
{{ '%-17s %s %-8s %s %-8s %s %-8s'|format(
"Name", "|", "Result", "|", "Total", "|", "Failures") }}
{{ '%s%s%s%s%s%s%s'|format(
"-"*18, "+", "-"*10, "+", "-"*10, "+", "-"*9) }}
{%- for job_name, job in jobs.items() %}
{{ '%-17s %s %-8s %s %8d %s %8d'|format(
job_name, "|",
job.root.result, "|",
job.nodes, "|",
job.failures|count) }}
{%- endfor %}


Failing tests
=============

{%- for job_name, job in jobs.items() %}
{%- if job.failures|count %}

{{ job_name }}
{{ '-'*job_name|length }}

{% for failure in job.failures %}* {{ failure.path }}
{% endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
