{# SPDX-License-Identifier: LGPL-2.1-or-later -#}

{{ subject_str }}

Tests Summary
-------------

Tree:     {{ root.revision.tree }}
Branch:   {{ root.revision.branch }}
Describe: {{ root.revision.describe }}
URL:      {{ root.revision.url }}
SHA1:     {{ root.revision.commit }}

{{'%-15s %s %s'|format("test", "|", "result")}}
{{'%s%s%s'|format("-"*16, "+", "-"*7)}}
{%- for test in tests %}
{{'%-15s %s %s'|format(test.name, "|", test.status)}}
{%- endfor %}
