apiVersion: apps/v1
kind: Deployment
metadata:
  name: kernelci-pipeline-timeout-task-holdoff
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kernelci-pipeline-timeout-task-holdoff
  template:
    metadata:
      labels:
        app: kernelci-pipeline-timeout-task-holdoff
    spec:
      containers:
        - name: kernelci-pipeline-timeout-task-holdoff
          image: kernelci/staging-kernelci
          env:
            - name: KCI_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: kernelci-pipeline-secrets
                  key: kci-api-token
            - name: SETTINGS
              valueFrom:
                configMapKeyRef:
                  name: kernelci-pipeline-config
                  key: settings
          command:
            - "/usr/bin/env"
            - "python3"
            - "/home/kernelci/pipeline/timeout.py"
            - "--settings=$(SETTINGS)"
            - "run"
            - "--mode=holdoff"
          volumeMounts:
              - name: pipeline-volume
                mountPath: /home/kernelci/pipeline
              - name: config-volume
                mountPath: /home/kernelci/config
          resources:
            requests:
              memory: "128M"
              cpu: "250m"
            limits:
              memory: "256M"
              cpu: "500m"
      volumes:
        - name: pipeline-volume
          hostPath:
            path: /home/docker/kernelci-pipeline/src
        - name: config-volume
          hostPath:
            path: /home/docker/kernelci-pipeline/config
