{% set test_method = 'baseline' %}
{% set base_template = 'base/' + runtime + '.jinja2' %}
{%- extends base_template %}

{% block commands %}
KERNELCI_LAVA=y /bin/sh /opt/kernelci/dmesg.sh
{%- endblock %}
