{%- set boot_commands = 'nfs' %}
{% set test_method = 'baseline' %}
{% set base_template = 'base/' + runtime + '.jinja2' %}
{%- extends base_template %}

{% block commands %}
echo 'Hello World!'
{%- endblock %}
