{%- set base_kurl = platform_config.params.flash_kernel.url %}
{%- set boot_commands = 'nfs' %}
{%- set boot_namespace = 'modules' %}
{%- set flash_modules = 'modules.tar.xz' %}
{%- if platform_config.params.flash_kernel.modules %}
{%-   set flash_modules = platform_config.params.flash_kernel.modules %}
{%- endif %}

{%- set kernel_url = base_kurl ~ '/' ~ platform_config.params.flash_kernel.image %}
{%- set modules_url = base_kurl ~ '/' ~ flash_modules %}
{%- if platform_config.params.flash_kernel.dtb %}
{%-   set dtb_url = base_kurl ~ '/' ~ platform_config.params.flash_kernel.dtb %}
{%- elif device_dtb %}
{%-   set dtb_url = base_kurl ~ '/' ~ device_dtb %}
{%- endif %}
{%- set nfsroot = platform_config.params.nfsroot %}

{%- set test_method = 'tast' %}

{%- set base_template = 'base/' + runtime + '.jinja2' %}
{%- extends base_template %}
