_anchors:
  baseline-job: &baseline-job
    template: baseline.jinja2
    kind: job
    kcidb_test_suite: boot
    params:
      ramdisk: 'http://storage.kernelci.org/images/rootfs/buildroot/buildroot-baseline/20230703.0/{brarch}/rootfs.cpio.gz'

  baseline-nfs-job: &baseline-nfs-job
    template: baseline.jinja2
    kind: job
    kcidb_test_suite: boot.nfs
    params:
      boot_commands: nfs
      nfsroot: http://storage.kernelci.org/images/rootfs/debian/bookworm/20240313.0/{debarch}

  kbuild-job: &kbuild-job
    template: kbuild.jinja2
    kind: kbuild
    rules:
      tree:
      - '!android'
      - '!chromiumos'

  kbuild-gcc-14-arm: &kbuild-gcc-14-arm-job
    <<: *kbuild-job
    image: ghcr.io/kernelci/{image_prefix}gcc-14:arm-kselftest-kernelci
    params: &kbuild-gcc-14-arm-params
      arch: arm
      compiler: gcc-14
      cross_compile: 'arm-linux-gnueabihf-'
      defconfig: multi_v7_defconfig

  kbuild-gcc-14-arm64: &kbuild-gcc-14-arm64-job
    <<: *kbuild-job
    image: ghcr.io/kernelci/{image_prefix}gcc-14:arm64-kselftest-kernelci
    params: &kbuild-gcc-14-arm64-params
      arch: arm64
      compiler: gcc-14
      cross_compile: 'aarch64-linux-gnu-'
      defconfig: defconfig
      fragments:
        - 'lab-setup'
        - 'kselftest'

  kbuild-gcc-14-x86-job-cip: &kbuild-gcc-14-x86-job-cip
    <<: *kbuild-job
    image: ghcr.io/kernelci/{image_prefix}gcc-14:x86-kselftest-kernelci
    params: &kbuild-gcc-14-x86-params
      arch: x86_64
      compiler: gcc-14
      defconfig: x86_64_defconfig
      fragments:
        - 'kselftest'

jobs:
# start of CIP arm64 configuration for boot tests
  job-gcc-14-arm64-612-cip: *baseline-job
  job-gcc-14-arm64-61-cip: *baseline-job
  job-gcc-14-arm64-510-cip: *baseline-job
  job-gcc-14-arm64-419-cip: *baseline-job

  kbuild-gcc-14-arm64-612-cip:
    <<: *kbuild-gcc-14-arm64-job
    params:
      <<: *kbuild-gcc-14-arm64-params
      defconfig:
        - defconfig
      fragments:
        - 'CONFIG_ARCH_R8A774A1=y'
        - 'CONFIG_ARCH_ZYNQMP=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://6.12.y-cip/arm64/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-6.12.y-cip'

  kbuild-gcc-14-arm64-61-cip:
    <<: *kbuild-gcc-14-arm64-job
    params:
      <<: *kbuild-gcc-14-arm64-params
      defconfig:
        - defconfig
      fragments:
        - 'CONFIG_ARCH_R8A774A1=y'
        - 'CONFIG_ARCH_ZYNQMP=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://6.1.y-cip/arm64/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-6.1.y-cip'

  kbuild-gcc-14-arm64-510-cip:
    <<: *kbuild-gcc-14-arm64-job
    params:
      <<: *kbuild-gcc-14-arm64-params
      defconfig:
        - defconfig
      fragments:
        - 'CONFIG_ARCH_R8A774A1=y'
        - 'CONFIG_ARCH_ZYNQMP=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://5.10.y-cip/arm64/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-5.10.y-cip'

  kbuild-gcc-14-arm64-419-cip:
    <<: *kbuild-gcc-14-arm64-job
    params:
      <<: *kbuild-gcc-14-arm64-params
      defconfig:
        - defconfig
      fragments:
        - 'CONFIG_ARCH_R8A774A1=y'
        - 'CONFIG_ARCH_ZYNQMP=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://4.19.y-cip/arm64/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-4.19.y-cip'

# start of CIP arm configuration for boot tests
  job-gcc-14-arm-612-cip: *baseline-nfs-job
  job-gcc-14-arm-61-cip: *baseline-nfs-job
  job-gcc-14-arm-510-cip: *baseline-nfs-job
  job-gcc-14-arm-419-cip: *baseline-nfs-job
  job-gcc-14-arm-44-cip: *baseline-nfs-job

  kbuild-gcc-14-arm-612-cip:
    <<: *kbuild-gcc-14-arm-job
    params:
      <<: *kbuild-gcc-14-arm-params
      defconfig:
        - multi_v7_defconfig
      fragments:
        - 'CONFIG_ARCH_SOCFPGA=y'
        - 'CONFIG_ARCH_RENESAS=y'
        - 'CONFIG_SOC_AM33XX=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://6.12.y-cip/arm/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-6.12.y-cip'

  kbuild-gcc-14-arm-61-cip:
    <<: *kbuild-gcc-14-arm-job
    params:
      <<: *kbuild-gcc-14-arm-params
      defconfig:
        - multi_v7_defconfig
      fragments:
        - 'CONFIG_ARCH_SOCFPGA=y'
        - 'CONFIG_ARCH_RENESAS=y'
        - 'CONFIG_SOC_AM33XX=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://6.1.y-cip/arm/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-6.1.y-cip'

  kbuild-gcc-14-arm-510-cip:
    <<: *kbuild-gcc-14-arm-job
    params:
      <<: *kbuild-gcc-14-arm-params
      defconfig:
        - multi_v7_defconfig
      fragments:
        - 'CONFIG_ARCH_SOCFPGA=y'
        - 'CONFIG_ARCH_RENESAS=y'
        - 'CONFIG_SOC_AM33XX=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://5.10.y-cip/arm/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-5.10.y-cip'

  kbuild-gcc-14-arm-419-cip:
    <<: *kbuild-gcc-14-arm-job
    params:
      <<: *kbuild-gcc-14-arm-params
      defconfig:
        - multi_v7_defconfig
      fragments:
        - 'CONFIG_ARCH_SOCFPGA=y'
        - 'CONFIG_ARCH_RENESAS=y'
        - 'CONFIG_SOC_AM33XX=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://4.19.y-cip/arm/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-4.19.y-cip'

  kbuild-gcc-14-arm-44-cip:
    <<: *kbuild-gcc-14-arm-job
    params:
      <<: *kbuild-gcc-14-arm-params
      defconfig:
        - multi_v7_defconfig
      fragments:
        - 'CONFIG_ARCH_RENESAS=y'
        - 'CONFIG_SOC_AM33XX=y'
        - 'kselftest'
        - 'lab-setup'
        - 'cip://4.4.y-cip/arm/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-4.4.y-cip'

# start of CIP x86_64 configuration for boot tests
  job-gcc-14-x86-612-cip: *baseline-nfs-job
  job-gcc-14-x86-61-cip: *baseline-nfs-job
  job-gcc-14-x86-510-cip: *baseline-nfs-job
  job-gcc-14-x86-419-cip: *baseline-nfs-job
  job-gcc-14-x86-44-cip: *baseline-nfs-job

  kbuild-gcc-14-x86-612-cip:
    <<: *kbuild-gcc-14-x86-job-cip
    params:
      <<: *kbuild-gcc-14-x86-params
      fragments:
        - 'kselftest'
        - 'lab-setup'
        - 'cip://6.12.y-cip/x86/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-6.12.y-cip'

  kbuild-gcc-14-x86-61-cip:
    <<: *kbuild-gcc-14-x86-job-cip
    params:
      <<: *kbuild-gcc-14-x86-params
      fragments:
        - 'kselftest'
        - 'lab-setup'
        - 'cip://6.1.y-cip/x86/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-6.1.y-cip'

  kbuild-gcc-14-x86-510-cip:
    <<: *kbuild-gcc-14-x86-job-cip
    params:
      <<: *kbuild-gcc-14-x86-params
      fragments:
        - 'kselftest'
        - 'lab-setup'
        - 'cip://5.10.y-cip/x86/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-5.10.y-cip'

  kbuild-gcc-14-x86-419-cip:
    <<: *kbuild-gcc-14-x86-job-cip
    params:
      <<: *kbuild-gcc-14-x86-params
      fragments:
        - 'kselftest'
        - 'lab-setup'
        - 'cip://4.19.y-cip/x86/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-4.19.y-cip'

  kbuild-gcc-14-x86-44-cip:
    <<: *kbuild-gcc-14-x86-job-cip
    params:
      <<: *kbuild-gcc-14-x86-params
      fragments:
        - 'kselftest'
        - 'lab-setup'
        - 'cip://4.4.y-cip/x86/cip_merged_defconfig'
    rules:
      branch:
        - 'cip:linux-4.4.y-cip'
