# SPDX-License-Identifier: LGPL-2.1-or-later
#
# Copyright (C) 2021, 2022, 2023 Collabora Limited
# Author: Guillaume Tucker <guillaume.tucker@collabora.com>

# Not directly loaded into the config, only used for YAML aliases in this file
_anchors:

  arm64-device: &arm64-device
    arch: arm64
    boot_method: u-boot

  arm64-chromebook-device: &arm64-chromebook-device
    <<: *arm64-device
    boot_method: depthcharge

  baseline: &baseline-job
    template: baseline.jinja2
    kind: test

  checkout: &checkout-event
    channel: node
    name: checkout
    state: available

  kbuild: &kbuild-job
    template: kbuild.jinja2
    kind: kbuild

  kbuild-gcc-10-arm64: &kbuild-gcc-10-arm64-job
    <<: *kbuild-job
    image: kernelci/staging-gcc-10:arm64-kselftest-kernelci
    params: &kbuild-gcc-10-arm64-params
      arch: arm64
      compiler: gcc-10
      cross_compile: 'aarch64-linux-gnu-'
      defconfig: defconfig

  kbuild-gcc-10-x86: &kbuild-gcc-10-x86-job
    <<: *kbuild-job
    image: kernelci/staging-gcc-10:x86-kselftest-kernelci
    params: &kbuild-gcc-10-x86-params
      arch: x86_64
      compiler: gcc-10
      defconfig: x86_64_defconfig

  x86_64-device: &x86_64-device
    arch: x86_64
    boot_method: grub
    mach: x86

  x86_64-chromebook-device: &x86_64-chromebook-device
    <<: *x86_64-device
    boot_method: depthcharge

api:

  docker-host:
    url: http://172.17.0.1:8001

  staging:
    url: https://staging.kernelci.org:9000

  early-access:
    url: https://kernelci-api.eastus.cloudapp.azure.com

  k8s-host:
    url: http://kernelci-api:8001


storage:

  docker-host:
    storage_type: ssh
    host: 172.17.0.1
    port: 8022
    base_url: http://172.17.0.1:8002/

  staging:
    storage_type: ssh
    host: staging.kernelci.org
    port: 9022
    base_url: http://storage.staging.kernelci.org/api/

  k8s-host:
    storage_type: ssh
    host: kernelci-api-ssh
    port: 8022
    base_url: http://kernelci-api-storage:8002/

  staging-azure: &azure-files
    storage_type: azure
    base_url: https://kciapistagingstorage1.file.core.windows.net/
    share: staging
    sas_public_token: "?sv=2022-11-02&ss=f&srt=sco&sp=r&se=2024-10-17T19:19:12Z&st=2023-10-17T11:19:12Z&spr=https&sig=sLmFlvZHXRrZsSGubsDUIvTiv%2BtzgDq6vALfkrtWnv8%3D"

  early-access-azure:
    <<: *azure-files
    share: early-access

runtimes:

  docker:
    lab_type: docker
    env_file: '/home/kernelci/.docker-env'
    user: 'root'  # Docker-in-Docker
    volumes:
      # Note: Absolute paths on the host are required here
      - 'data/ssh/:/home/kernelci/data/ssh'
      - 'data/output/:/home/kernelci/data/output'

  k8s-gke-eu-west4:
    lab_type: kubernetes
    context: 'gke_android-kernelci-external_europe-west4-c_kci-eu-west4'

  k8s-all:
    lab_type: kubernetes
    context: 
      - 'gke_android-kernelci-external_europe-west4-c_kci-eu-west4'
      - 'gke_android-kernelci-external_europe-west1-d_kci-eu-west1'
      - 'gke_android-kernelci-external_us-central1-c_kci-us-central1'
      - 'gke_android-kernelci-external_us-east4-c_kci-big-us-east4'
      - 'gke_android-kernelci-external_us-west1-a_kci-us-west1'

  lava-collabora: &lava-collabora-staging
    lab_type: lava
    url: https://lava.collabora.dev/
    priority_min: 40
    priority_max: 60
    notify:
      callback:
        token: kernelci-api-token-staging
        url: https://staging.kernelci.org:9100

  # ToDo: avoid creating a separate Runtime entry
  # https://github.com/kernelci/kernelci-core/issues/2088
  lava-collabora-early-access:
    <<: *lava-collabora-staging
    notify:
      callback:
        token: kernelci-api-token-early-access
        url: https://staging.kernelci.org:9100

  lava-collabora-staging:
    lab_type: lava
    url: https://staging.lava.collabora.dev/
    priority_min: 40
    priority_max: 60
    notify:
      callback:
        token: kernelci-api-token-lava-staging
        url: https://staging.kernelci.org:9100

  shell:
    lab_type: shell


jobs:

  # FIXME This will need to be reworked later when the fstests scheduler has
  # been removed
  #
  # fstests:
  #   template: 'fstests.jinja2'
  #   image: 'kernelci/staging-kernelci'

  baseline-arm64: *baseline-job
  baseline-arm64-chromebook: *baseline-job
  baseline-x86: *baseline-job
  baseline-x86-board: *baseline-job
  baseline-x86-board-staging: *baseline-job

  kbuild-gcc-10-arm64:
    <<: *kbuild-gcc-10-arm64-job

  kbuild-gcc-10-arm64-chromebook:
    <<: *kbuild-gcc-10-arm64-job
    params:
      <<: *kbuild-gcc-10-arm64-params
      cross_compile_compat: 'arm-linux-gnueabihf-'
      fragments: ['arm64-chromebook']

  kbuild-gcc-10-x86:
    <<: *kbuild-gcc-10-x86-job

  kbuild-gcc-10-x86-board:
    <<: *kbuild-gcc-10-x86-job
    params:
      <<: *kbuild-gcc-10-x86-params
      fragments: ['x86-board']

  kbuild-gcc-10-x86-chromeos:
    <<: *kbuild-gcc-10-x86-job
    params:
      <<: *kbuild-gcc-10-x86-params
      defconfig: allnoconfig
      fragments: ['x86-board','cros://chromeos-6.1/x86_64/chromeos-intel-pineview.flavour.config','CONFIG_MODULE_COMPRESS=n']

  kunit: &kunit-job
    template: kunit.jinja2
    kind: test
    image: kernelci/staging-gcc-10:x86-kunit-kernelci

  kunit-x86_64:
    <<: *kunit-job
    params:
      arch: x86_64

  kver:
    template: kver.jinja2
    kind: test
    image: kernelci/staging-kernelci


trees:

  kernelci:
    url: "https://github.com/kernelci/linux.git"

  mainline:
    url: 'https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git'

  stable-rc:
    url: 'https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git'


device_types:

  docker:
    base_name: docker
    class: docker

  qemu-x86:
    base_name: qemu
    arch: x86_64
    boot_method: qemu
    mach: qemu
    context:
      arch: x86_64
      cpu: qemu64
      guestfs_interface: ide

  minnowboard-turbot-E3826: *x86_64-device
  aaeon-UPN-EHLX4RE-A10-0864: *x86_64-device

  acer-R721T-grunt: *x86_64-chromebook-device
  acer-cb317-1h-c3z6-dedede: *x86_64-chromebook-device
  acer-cbv514-1h-34uz-brya: *x86_64-chromebook-device
  acer-chromebox-cxi4-puff: *x86_64-chromebook-device
  acer-cp514-3wh-r0qs-guybrush: *x86_64-chromebook-device
  asus-C433TA-AJ0005-rammus: *x86_64-chromebook-device
  asus-C436FA-Flip-hatch: *x86_64-chromebook-device
  asus-cx9400-volteer: *x86_64-chromebook-device
  dell-latitude-3445-7520c-skyrim: *x86_64-chromebook-device
  dell-latitude-5300-8145U-arcada: *x86_64-chromebook-device
  hp-14b-na0052xx-zork: *x86_64-chromebook-device
  hp-x360-12b-ca0010nr-n4020-octopus: *x86_64-chromebook-device

  bcm2711-rpi-4-b:
    <<: *arm64-device
    mach: broadcom
    dtb: dtbs/broadcom/bcm2711-rpi-4-b.dtb

  meson-g12b-a311d-khadas-vim3:
    <<: *arm64-device
    mach: amlogic
    dtb: dtbs/amlogic/meson-g12b-a311d-khadas-vim3.dtb

  mt8183-kukui-jacuzzi-juniper-sku16:
    <<: *arm64-chromebook-device
    mach: mediatek
    dtb: dtbs/mediatek/mt8183-kukui-jacuzzi-juniper-sku16.dtb

  sc7180-trogdor-kingoftown:
    <<: *arm64-chromebook-device
    mach: qcom
    dtb: dtbs/qcom/sc7180-trogdor-kingoftown-r1.dtb

  kubernetes:
    base_name: kubernetes
    class: kubernetes

  shell:
    base_name: shell
    class: shell


scheduler:

  - job: baseline-arm64
    event:
      channel: node
      name: kbuild-gcc-10-arm64
      result: pass
    runtime:
      type: lava
      name: lava-collabora
    platforms:
      - bcm2711-rpi-4-b
      - meson-g12b-a311d-khadas-vim3

  - job: baseline-arm64-chromebook
    event:
      channel: node
      name: kbuild-gcc-10-arm64-chromebook
      result: pass
    runtime:
      type: lava
      name: lava-collabora
    platforms:
      - mt8183-kukui-jacuzzi-juniper-sku16
      - sc7180-trogdor-kingoftown

  - job: baseline-x86
    event:
      channel: node
      name: kbuild-gcc-10-x86
      result: pass
    runtime:
      type: lava
    platforms:
      - qemu-x86
      - minnowboard-turbot-E3826

  - job: baseline-x86-board
    event:
      channel: node
      name: kbuild-gcc-10-x86-board
      result: pass
    runtime:
      type: lava
      name: lava-collabora
    platforms:
      - acer-R721T-grunt
      - acer-cb317-1h-c3z6-dedede
      - acer-cbv514-1h-34uz-brya
      - acer-chromebox-cxi4-puff
      - acer-cp514-3wh-r0qs-guybrush
      - asus-C433TA-AJ0005-rammus
      - asus-C436FA-Flip-hatch
      - asus-cx9400-volteer
      - dell-latitude-3445-7520c-skyrim
      - dell-latitude-5300-8145U-arcada
      - hp-14b-na0052xx-zork
      - hp-x360-12b-ca0010nr-n4020-octopus

  - job: baseline-x86-board-staging
    event:
      channel: node
      name: kbuild-gcc-10-x86-board
      result: pass
    runtime:
      type: lava
      name: lava-collabora-staging
    platforms:
      - dell-latitude-3445-7520c-skyrim

  - job: kbuild-gcc-10-arm64
    event: *checkout-event
    runtime:
      type: kubernetes

  - job: kbuild-gcc-10-arm64-chromebook
    event: *checkout-event
    runtime:
      name: k8s-all

  - job: kbuild-gcc-10-x86
    event: *checkout-event
    runtime:
      name: k8s-all

  - job: kbuild-gcc-10-x86-board
    event: *checkout-event
    runtime:
      name: k8s-all

  - job: kbuild-gcc-10-x86-chromeos
    event: *checkout-event
    runtime:
      name: k8s-all

  - job: kunit
    event: *checkout-event
    runtime:
      type: docker

  - job: kunit-x86_64
    event: *checkout-event
    runtime:
      name: k8s-gke-eu-west4

  - job: kver
    event: *checkout-event
    runtime:
      type: shell

# -----------------------------------------------------------------------------
# Legacy configuration data (still used by trigger service)
#

build_environments:

  gcc-10:
    cc: gcc
    cc_version: 10
    arch_params:
      x86_64:
        name: 'x86'


build_variants:
  variants: &build-variants
    gcc-10:
      build_environment: gcc-10
      architectures:
        x86_64:
          base_defconfig: 'x86_64_defconfig'
          filters:
            - regex: { defconfig: 'x86_64_defconfig' }
        arm64:
          base_defconfig: 'defconfig'
          filters:
            - regex: { defconfig: 'defconfig' }


build_configs:

  kernelci_staging-mainline:
    tree: kernelci
    branch: 'staging-mainline'
    variants: *build-variants

  kernelci_staging-next:
    tree: kernelci
    branch: 'staging-next'
    variants: *build-variants

  kernelci_staging-stable:
    tree: kernelci
    branch: 'staging-stable'
    variants: *build-variants

  mainline:
    tree: mainline
    branch: 'master'
    variants: *build-variants

  stable-rc_6.6:
    tree: stable-rc
    branch: 'linux-6.6.y'
    variants: *build-variants
