# SPDX-License-Identifier: LGPL-2.1-or-later
#
# Copyright (C) 2021, 2022, 2023 Collabora Limited
# Author: Guillaume Tucker <guillaume.tucker@collabora.com>

api:

  docker-host:
    url: http://172.17.0.1:8001

  staging:
    url: https://staging.kernelci.org:9000

  production:
    url: https://kernelci-api.westus3.cloudapp.azure.com

  k8s-host:
    url: http://kernelci-api:8001


storage:

  docker-host:
    storage_type: ssh
    host: 172.17.0.1
    port: 8022
    base_url: http://172.17.0.1:8002/

  production-azure: &azure-files
    storage_type: azure
    base_url: https://kciapistagingstorage1.file.core.windows.net/
    share: production
    sas_public_token: "?sv=2022-11-02&ss=f&srt=sco&sp=r&se=2026-10-18T13:36:18Z&st=2024-10-17T05:36:18Z&spr=https&sig=xFxYOOh5uXJWeN9I3YKAUvpGGQivo89HKZbD78gcxvc%3D"

  k8s-host:
    storage_type: ssh
    host: kernelci-api-ssh
    port: 8022
    base_url: http://kernelci-api-storage:8002/

  staging:
    storage_type: ssh
    host: staging.kernelci.org
    port: 9022
    base_url: http://storage.staging.kernelci.org/api/

  staging-azure:
    <<: *azure-files
    share: staging

  kci-storage:
    storage_type: backend
    base_url: http://mon.kernelci.org:3000/
    api_url: http://mon.kernelci.org:3000/

runtimes:

  docker:
    lab_type: docker
    env_file: '/home/kernelci/.docker-env'
    user: 'root'  # Docker-in-Docker
    volumes:
      # Note: Absolute paths on the host are required here
      - 'data/ssh/:/home/kernelci/data/ssh'
      - 'data/output/:/home/kernelci/data/output'

  k8s-all:
    lab_type: kubernetes
    context:
      - 'aks-kbuild-medium-1'
      - 'gke_android-kernelci-external_europe-west1-d_kci-eu-west1'
      - 'gke_android-kernelci-external_europe-west4-c_kci-eu-west4'
      - 'gke_android-kernelci-external_us-central1-c_kci-us-central1'
      - 'gke_android-kernelci-external_us-east4-c_kci-big-us-east4'
      - 'gke_android-kernelci-external_us-west1-a_kci-us-west1'

  k8s-gke-eu-west4:
    lab_type: kubernetes
    context: 'gke_android-kernelci-external_europe-west4-c_kci-eu-west4'

  lava-baylibre:
    lab_type: lava
    url: 'https://lava.baylibre.com/'
    notify:
      callback:
        token: kernelci-new-api
    rules:
      tree:
      - kernelci
      - 'mainline'
      - next

  lava-broonie:
    lab_type: lava
    url: 'https://lava.sirena.org.uk/'
    priority_min: 0
    priority_max: 49
    notify:
      callback:
        token: kernelci-new-api-callback
    rules:
      tree:
      - '!android'
      - '!chromiumos'

  lava-cip:
    lab_type: lava
    url: 'https://lava.ciplatform.org/'
    notify:
      callback:
        token: kernel-ci-new-api

  lava-collabora: &lava-collabora-staging
    lab_type: lava
    url: https://lava.collabora.dev/
    priority_min: 40
    priority_max: 60
    notify:
      callback:
        token: kernelci-api-token-staging

  lava-collabora-staging:
    <<: *lava-collabora-staging
    url: https://staging.lava.collabora.dev/
    notify:
      callback:
        token: kernelci-api-token-lava-staging

  lava-pengutronix:
    lab_type: lava
    url: 'https://lava.pengutronix.de'
    priority_min: 10
    priority_max: 40
    notify:
      callback:
        token: kernel-ci-callback

  lava-qualcomm:
    lab_type: lava
    url: 'https://lava.infra.foundries.io'
    notify:
      callback:
        token: kernelci-lab-qualcomm

  shell:
    lab_type: shell

