# SPDX-License-Identifier: LGPL-2.1-or-later
#
# Copyright (C) 2021 Collabora Limited
# Author: Guillaume Tucker <guillaume.tucker@collabora.com>

trees:

  kernelci:
    url: "https://github.com/kernelci/linux.git"

  mainline:
    url: 'https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git'


build_environments:

  gcc-10:
    cc: gcc
    cc_version: 10
    arch_params:
      x86_64:
        name: 'x86'


build_variants:
  variants: &build-variants
    gcc-10:
      build_environment: gcc-10
      architectures:
        x86_64:
          base_defconfig: 'x86_64_defconfig'
          filters:
            - regex: { defconfig: 'x86_64_defconfig' }


build_configs:

  kernelci_staging-mainline:
    tree: kernelci
    branch: 'staging-mainline'
    variants: *build-variants

  kernelci_staging-next:
    tree: kernelci
    branch: 'staging-next'
    variants: *build-variants

  kernelci_staging-stable:
    tree: kernelci
    branch: 'staging-stable'
    variants: *build-variants

  mainline:
    tree: mainline
    branch: 'master'
    variants: *build-variants


db_configs:

  docker-host:
    db_type: kernelci_api
    url: http://172.17.0.1:8001

  staging.kernelci.org:
    db_type: kernelci_api
    url: https://staging.kernelci.org:9000


email_configs:

  docker-host:
    send_to: ''
    from: ''
    subject: ''

  staging.kernelci.org:
    send_to: ''
    from: ''
    subject: ''


labs:

  k8s-gke-eu-west4:
    lab_type: kubernetes
    config_path: 'kubernetes'
    context: 'gke_android-kernelci-external_europe-west4-c_kci-eu-west4'

  shell:
    lab_type: shell
    config_path: 'scripts'


test_plans:

  check-describe:
    pattern: 'check-describe.jinja2'


device_types:

  kubernetes_python:
    base_name: kubernetes
    class: kubernetes

  shell_python:
    base_name: shell
    class: shell
    params:
      shebang: '/usr/bin/env python3'
