build_configs:
  cip: &cip
    tree: cip
    branch: 'master'
    priority: low
    architectures:
      - arm
      - arm64
      - riscv
      - x86_64

  cip-4.4: &cip-4-4
    <<: *cip
    branch: 'linux-4.4.y-cip'
    architectures:
      - arm
      - x86_64

  cip-4.4-rt:
    <<: *cip-4-4
    branch: 'linux-4.4.y-cip-rt'

  cip-4.4-st:
    <<: *cip-4-4
    branch: 'linux-4.4.y-st'

  cip-4.4-st-rc:
    <<: *cip-4-4
    branch: 'linux-4.4.y-st-rc'

  cip-4.19: &cip-4-19
    <<: *cip
    branch: 'linux-4.19.y-cip'
    architectures:
      - arm
      - arm64
      - x86_64

  cip-4.19-rt:
    <<: *cip-4-19
    branch: 'linux-4.19.y-cip-rt'

  cip-4.19-st:
    <<: *cip-4-19
    branch: 'linux-4.19.y-st'

  cip-4.19-st-rc:
    <<: *cip-4-19
    branch: 'linux-4.19.y-st-rc'

  cip-5.10:
    <<: *cip
    branch: 'linux-5.10.y-cip'

  cip-5.10-rt:
    <<: *cip
    branch: 'linux-5.10.y-cip-rt'

  cip-6.1:
    <<: *cip
    branch: 'linux-6.1.y-cip'

  cip-6.1-rt:
    <<: *cip
    branch: 'linux-6.1.y-cip-rt'

  cip-6.12:
    <<: *cip
    branch: 'linux-6.12.y-cip'
